html,
body,
div,
h1,
p {
  padding: 0;
  margin: 0;

  font-family: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$margins: 25px;
$border-radius: 15px;
$padding: 25px;
$box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

@mixin box-styles {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: white;
  padding: $padding;
}

.left,
.right,
.icons,
.balance,
.expenses,
.overview {
  @include box-styles;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

/* RIGHT ELEMENTS */

.user {
  display: flex;
  justify-content: space-between;
}
.account {
  text-align: right;
}
.title {
  display: flex;
  justify-content: space-between;
  padding: $padding;
  line-height: 52px;
  height: 100px;
}
.icons {
  text-align: center;
}

//Full screen
@media (min-width: 1001px) {
  .app-container{
    min-height: 700px;
  }
  .grid {
    display: grid;
    grid-template-columns: 200px auto 400px;
    grid-gap: $margins;
    margin: $margins;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    min-height: 650px;
  }

  .center {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 125px 200px 1fr;
    margin-bottom: $margins;
  }

  .left {
    margin: $margins;
    margin-right: 0;
  }

  .right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /*CENTER GRID ELEMENTS*/

  .title {
    grid-column: 1/3;
  }

  .overview {
    grid-column: 1/3;
  }

  .icons {
    @include box-styles;
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

//Small screen / mobile view - Single column layout
@media (max-width: 1000px) {
  .app-container {
    width: 100%;
    height: 100%;
  }
  .grid {
    box-sizing: content-box;
    min-width: 10px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 600px 300px;
    height: 100%;
  }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 125px 125px;
  }

  .left {
    height: 80px;
  }

  .right {
    height: 300px;
  }

  .icons,
  .balance,
  .expenses,
  .overview {
    margin-bottom: $margins;
    height: 300px;
  }

  .icon-item {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

//Adjust center elements for smaller screens, makes single-column layout
@media (max-width: 1300px) {
  .center {
    grid-template-columns: auto;
    grid-template-rows: 75px 125px 125px 125px 1fr;
  }

  .expenses {
    grid-column: 1/3;
  }

  .balance {
    grid-column: 1/3;
  }
}
